
 
  
  
  <div class="footer" >
        
    <br>
    
    <div fxLayout="row"  >
        <div fxFlex="100" fxLayoutAlign="start" style="margin-right: 20px;">
            <span class="feint">Feint</span><span class="devs">dEvs</span> 
        </div>    
    </div>


   


        <div class="cardsFooter" fxLayout="row wrap" fxLayoutGap=""  >

            <div fxFlex="50" fxLayoutAlign="center center"  >    
                <mat-card class="mat-elevation-z0"> 
                    
                    <mat-card-title> <p>Acerca de Nosotros</p></mat-card-title>
                    
                    <mat-card-content>
                        <p>Nosotros</p>
                        <p>Contact Us!!</p>
                        <p>Ubicacion</p>
                     

                    </mat-card-content>
                </mat-card>        
            </div>

            <div fxFlex="50" fxLayoutAlign="center center"  >    
           
                    
                    <img src="../../../assets/logo.png" alt="" >
               
            </div>
       

            
        </div>

        <div fxLayout="row" class="copyrigth" >
            <div fxFlex="100" fxLayoutAlign="center" >
                 
                 <span id="devs">Made by</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="material-icons">copyright</span> &nbsp;&nbsp; <span id="feint">Feint</span><span id="devs">dEvs</span> 
            </div>    
        </div>

</div>