
 
  
  
  <div class="footer" >
        
    <br><br>
    
    <div fxLayout="row"  >
        <div fxFlex="100" fxLayoutAlign="end" style="margin-right: 20px;">
            <span class="feint">Feint</span><span class="devs">dEvs</span> 
        </div>    
    </div>
   <br><br>

   


        <div fxLayout="row wrap" fxLayoutGap="" >

           

            <div  fxLayout="column" fxFlex="50" fxLayoutAlign="center center">           

                <!-- <p >Contact Us!!</p> 
                <p >Nosotros</p> -->

              
            </div>

            <div fxFlex="50" fxLayoutAlign="center center"  >    
                <mat-card class="mat-elevation-z0"> 
                    
                    <mat-card-title> <p>Acerca de Nosotros</p></mat-card-title>
                    
                    <mat-card-content>
                        <p>Nosotros</p>
                        <p>Contact Us!!</p>
                        <p>Ubicacion</p>
                     

                    </mat-card-content>
                </mat-card>        
            </div>
        </div>




</div>