<br><br><br>
<div >
   <p class="text">Desde desarrollos a medida, hasta soluciones pre-testeadas <br>
      que bajan costos sin rescindir resultados.</p>
   <p class="text2">Nuestros principales clientes son agencias digitales o empresas, en busca de un partner tecnológico que entienda los tiempos del mercado, conozca de marketing digital y les de un soporte robusto.
   </p>
</div>


<div fxLayout="row wrap" style="margin-top: 100px;"  

   fxLayout.xs="column"       	
   fxLayoutAlign="center"        
   fxLayoutGap="30px"   		
   >

  <div fxFlex="30"    		
       fxFlex.lg="15"		
       fxFlex.sm="30"
       *ngFor="let card of featuresCards">


<mat-card>


  <mat-card-header>
      <mat-card-title>  {{card.title}} </mat-card-title>
      <mat-card-subtitle> subtitulo </mat-card-subtitle>
  </mat-card-header>

  <img  mat-card-image [src]="card.img">   

  <mat-card-content>
      <h3></h3>
      <p>
          <strong>Primera aparición</strong> {{card.description}}
          <br>
          <strong> Personajes: </strong> sigo con content
      </p>
  </mat-card-content>

  <mat-card-actions>       
      <button mat-button 
              color="warn">
          Leer más...
      </button>

      <button mat-button 
              color="info">
         Editar
      </button>
  </mat-card-actions>

</mat-card>

<br><br><br>

</div>
<div >
   <video  src="../../../assets/dad.mp4"  controls loop> </video> 
</div>

