<br><br><br>
<div >
   <p class="text">Desde desarrollos a medida, hasta soluciones pre-testeadas <br>
      que bajan costos sin rescindir resultados.</p>
   <p class="text2">Nuestros principales clientes son agencias digitales o empresas, en busca de un partner tecnológico que entienda los tiempos del mercado, conozca de marketing digital y les de un soporte robusto.
   </p>
</div>


<div fxLayout="row wrap" 
   fxLayout.xs="column"       	
   fxLayoutAlign="center"        
   fxLayoutGap="20px"   		
   >

  <div fxFlex="30"    		
       fxFlex.lg="15"		
       fxFlex.sm="30"
       fxFlex.lg="30"
       *ngFor="let card of featuresCards">


<mat-card class="mat-elevation-z0" >


  <mat-card-header >
      <mat-card-title  style="font-family: 'Poppins', 'sans-serif'; font-size: 2.3vw;">  {{card.title}} </mat-card-title>
  
  </mat-card-header>
  <br>

  <img  mat-card-image [src]="card.img">   

  <mat-card-content>
      <p style="font-family: 'Nunito Sans', 'sans-serif'; font-size: 2vw; line-height: 4vw;"> 
        {{card.description}}<br>

      </p>
  </mat-card-content>

  <mat-card-actions>       
      <button mat-button 
              color="warn">
          Leer más...
      </button>

      <button mat-button 
              color="info">
         Editar
      </button>
  </mat-card-actions>

</mat-card>


</div>
</div>
<br><br><br>

<div >
   <p class="text">Diseño Responsivo</p>
   <p class="text2">Nuestros diseños son adaptables a cualquier dispositivo.
   </p>
</div>
<br><br><br>


<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="center">
 
<div>
   <img  src="http://feintdevs/assets/logo2.gif" width="100%" > 
</div>
<br><br>
<!-- <div>
   <img style="margin-top: 100px;" src="../../../assets/dad.gif" > 

</div> -->
</div>



